/*Main Color Variables*/
/*Font Family*/
@font-face {
  font-family: Lato;
  src: url(../FONTS/Lato-ExtraLight.ttf);
}
/* general styles */
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: Lato;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-primary-main {
  color: #052645 !important;
}

.fa-plane {
  color: #052645;
}

.spinner {
  width: 280px;
  height: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: url("../../VIDEO/pre-loader.gif") no-repeat center center;
  right: 0;
  margin: auto;
}

#overlay {
  height: 100%;
  width: 100%;
  background: #052645;
  position: fixed;
  left: 0;
  top: 0;
}

/*Navbar Section*/
.navbar-section {
  position: fixed;
  width: 100%;
  z-index: 99 !important;
}

/* HEADER */
.main-header {
  background: #052645;
  text-align: center;
  position: fixed; /* sticks to the top of the page, regardless of where you scroll */
  width: 100%;
  z-index: 999; /* puts itself on top of all other elements on the page */
  padding: 10px 0;
}

.logo img {
  width: 12rem;
}
.logo .email {
  -webkit-text-stroke: 0.6px #f1e5ac;
  color: transparent;
}

/* hiding the checkbox */
#nav-toggle {
  display: none;
}

/* STYLING/POSITIONING THE HAMBURGER MENU */
.nav-toggle-label {
  position: absolute;
  top: 0;
  margin-left: 2em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #f1e5ac;
  height: 1px;
  width: 30px;
  border-radius: 2px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 10px;
}
.nav-toggle-label span::before {
  right: 10px;
}
.nav-toggle-label span::after {
  top: 10px;
}
.nav-toggle-label span::after {
  right: 10px;
}

.menu {
  position: absolute;
  background: #052645;
  text-align: left;
  height: 100vh;
  transform: scaleX(-0.05);
  margin-left: -15px;
  transform-origin: left center;
  transition: all 0.5s ease-in-out !important;
}
.menu ul {
  list-style: none;
  padding: 0;
  text-align: start;
}
.menu li {
  padding: 20px 30px;
}
.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu a:hover {
  color: #f1e5ac;
}

#nav-toggle:checked ~ .nav-toggle-label span {
  background: #052645; /* setting it to the same background as header so it "disappears" */
}

/* transforming the before and after span into an X */
#nav-toggle:checked ~ .nav-toggle-label span::before {
  transform: rotate(45deg);
  bottom: 0;
  background: #f1e5ac;
}

#nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: rotate(-45deg);
  top: 0;
  background: #f1e5ac;
}

#nav-toggle:checked + .menu {
  transform: scale(1, 1);
}

#nav-toggle:checked ~ .menu a {
  opacity: 1;
  transition: opacity 0.25s ease-in-out 0.35s;
}

/*hague-court Section*/
.hague-court-section {
  margin: 110px 0;
}
.hague-court-section h3 {
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: #4c4c4c;
}
.hague-court-section p {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.8;
  font-style: normal;
  color: #4c4c4c;
}

/*portfolio-section*/
.portfolio-section {
  background: #f8f7f7;
}
.portfolio-section h3 {
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: #4c4c4c;
}
.portfolio-section p {
  font-size: 17px;
  line-height: 1.8;
  color: #4c4c4c;
  font-weight: normal;
  font-style: normal;
}

/*neutral-private-section*/
.neutral-private h3 {
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: #4c4c4c;
}
.neutral-private p {
  font-size: 17px;
  line-height: 1.8;
  color: #4c4c4c;
  font-weight: normal;
  font-style: normal;
}

/*efficient-section*/
.efficient-section {
  background: #f8f7f7;
}
.efficient-section h3 {
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: #4c4c4c;
}
.efficient-section p,
.efficient-section a {
  font-size: 17px;
  line-height: 1.8;
  color: #4c4c4c;
  font-weight: normal;
  font-style: normal;
}

/* padded section */
.news-section {
  padding: 50px 0;
}
.news-section img {
  width: 100%;
  transition: all 0.8s ease-in-out;
}
.news-section img:hover {
  transform: scale(1.1);
}
.news-section i {
  transform: rotate(-40deg);
}
.news-section h3 {
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: #4c4c4c;
}
.news-section p {
  font-size: 17px;
  line-height: 1.8;
  color: #4c4c4c;
  font-weight: normal;
  font-style: normal;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* home sections */
.home {
  background: url("../../ASSETS/numb.jpeg") no-repeat center center fixed;
  display: table;
  height: 70%;
  position: relative;
  width: 100%;
  background-size: cover;
}
.home .hearo-text,
.home .sign,
.home .counter,
.home .ff-second-title,
.home .counter-late,
.home .counter-more {
  color: #fff;
  font-size: 17px;
}
.home .counter,
.home .counter-late,
.home .counter-more {
  letter-spacing: 4px;
}

/* founder sections */
.founder {
  background: url("../../ASSETS/ceo.jpeg") no-repeat center center fixed;
  display: table;
  height: 75%;
  position: relative;
  width: 100%;
  background-size: cover;
}
.founder p {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.8;
  font-style: italic;
}

.explore-further .card-title {
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  color: #052645 !important;
}
.explore-further .card-text {
  font-size: 15px;
  line-height: 22px;
  color: #052645 !important;
}
.explore-further .card-body {
  border-color: #052645 !important;
}
.explore-further a {
  border-color: #052645 !important;
  color: #052645 !important;
  transition: all 0.7s ease-in-out;
}
.explore-further a:hover {
  background: #052645 !important;
  color: #fff !important;
}
.explore-further h3 {
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
}
.explore-further .card {
  overflow: hidden;
  border-color: #fff;
  border-radius: 10px !important;
}
.explore-further img {
  transition: 0.5s ease-in-out;
  border-radius: 8px 8px 0 0;
}
.explore-further img:hover {
  transform: scale(1.08);
  filter: alpha(opacity=0.6);
  opacity: 0.6;
}
.explore-further .card-title {
  font-weight: 400;
}

/* contact sections */
.contact-section .bottom-video {
  position: relative;
}
.contact-section .center-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.contact-section a {
  padding: 15px 40px;
  border: 1px solid white;
  background: transparent;
  color: white;
  transition: all 0.5s ease-in-out;
  border-radius: 0;
}
.contact-section a:hover {
  background: white;
  color: black;
  border: #fff;
}

/* footer sections */
.footer-section {
  background: #052645;
}
.footer-section img {
  width: 17rem;
}
.footer-section .bottom-footer img {
  height: 32px;
  width: 32px;
}
.footer-section .bottom-footer img .footer-text {
  font-weight: 100;
}

/*Media Queries Started*/
@media (max-width: 576px) {
  .nav-toggle-label {
    margin-left: 1em !important;
  }
  .navbar-section img {
    width: 10rem;
  }
  .menu {
    height: auto !important;
  }
  .hero-section .video-row {
    margin-top: 80px;
  }
  .news-section {
    padding: 30px 0;
  }
  .hague-court-section {
    margin: 60px 0;
  }
  .hague-court-section p {
    padding: 0 30px !important;
  }
  .founder {
    height: 75% !important;
  }
  .footer-section .footer-image img {
    width: 10rem !important;
  }
}
@media (min-width: 768px) {
  .hero-section .video-row {
    margin-top: 80px;
  }
  .hague-court-section {
    margin: 60px 0;
  }
  .hague-court-section p {
    padding: 0 200px !important;
  }
}
@media (min-width: 992px) {
  .hero-section .video-row {
    margin-top: 80px;
  }
  .hague-court-section {
    margin: 120px 0;
  }
  .hague-court-section p {
    padding: 0 318px !important;
  }
}
@media (min-width: 1200px) {
  .hero-section .video-row {
    margin-top: 80px;
  }
  .hague-court-section {
    margin: 120px 0;
  }
  .hague-court-section p {
    padding: 0 400px !important;
  }
  .founder p {
    padding: 0 300px !important;
  }
}/*# sourceMappingURL=style.css.map */